New folder/main/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<import doc:name="Import" doc:id="7604b467-4ae8-41f4-b4da-5b25155210e4" file="templates.xml" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fd52fab3-668a-4727-8388-cb77253be011" >
		<http:listener-connection host="0.0.0.0" port="8089" />
	</http:listener-config>
	<flow name="mainFlow" doc:id="cf716309-2da4-47a1-9956-a5b2b4b3fbe0" >
		<http:listener doc:name="Listener" doc:id="184e9544-70c5-433b-9f48-811e6ea8c83d" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value="#[[]]" doc:name="Set Payload" doc:id="89d28875-47ab-44ac-81cb-6c7d3af48a4f" />
		<flow-ref doc:name="Flow Reference" doc:id="ae0c7e45-0239-46b9-8014-6ef3a0c9d699" name="validateArray"/>
	</flow>
</mule>
